.main-content {
  min-height: 100vh;

  .sticky-top{
    position: sticky;
    top: 30px;
  }
}

// NAVBAR
.cus__navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  z-index: 2;
  background: #fff;

  .cus__brand{
    font-size: 1.2rem;

    .icon{
      font-size: 2rem;
    }
  }
}
// NAVBAR .//

// NAV
.cus__nav {
  .navbar-nav {
    height: 100%;
  }

  .content {
    background: $bg-light;
  }
}

// NAV .//

// NAV TABS
.nav-tabs {
  position: sticky;
  top: 25px;
  z-index: 3;

  .card {
    background: #fff;
    border-radius: 1rem;

    .card-title {
      width: 100%;
      letter-spacing: 0.1rem;
      text-align: center;
    }
  }

  .tabs {

    .col {
      cursor: pointer;
      p {
        font-size: 0.85rem;
        letter-spacing: 0.1rem;
      }
    }
    .active p {
      width: 100%;
      height: 100%;
      background: $bg-light;
      border-bottom: 3px solid $primary-color;
    }

    .feeds p {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }

    .trending p {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
}
// NAV TABS .//

// HOME MAIN BLOG
// HOME MAIN BLOG .//

@keyframes slideLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@media screen and (min-width: 600px) {
  .cus__navbar {
    display: none;
  }

  .h-sm-100 {
    min-height: 100vh;
  }

  .cus__nav {

    .backdrop {
      display: none;
    }

    .content {
      position: static; // return to normal positon
    }
  }
}

// MAX SCREEN ( mobile devices )
@media screen and (max-width: 600px) {
  .cus__nav {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100vh;
    transition: all 0.2s;

    &.show {
      width: 100%;
      z-index: 5;
      left: 0;

      .backdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: $secondary-color-trans-2;
        cursor: pointer;
      }

      .content {
        position: relative;
        left: 0;
        width: 50%;
        z-index: 3;
      }
    }

    &.hide {
      .content {
        animation: slideLeft 1s;
      }
    }

    .content {
      height: 100vh;
      width: 50%;
    }
  }

  .nav-tabs {
    top: 6rem;
  }

  .home {
    .blog-post {
      margin-top: 6rem;
    }
  }
}
