.cus__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



@media screen and (min-width: 576px) {
  .cus__row {
    display: flex;
    justify-content: space-between;
  }

  .cus__navbar {
    display: none;
  }
}
