.text-upper {
  text-transform: uppercase;
}

.bg-light-cus {
  background-color: $bg-light !important;
}

.aside-right {
  .trending {
    hr {
      margin: 0;
    }

    h6 {
      font-size: 0.8rem;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}

.card{
    border-radius: 1rem !important;
}

.home {
  .user-container {
    hr {
      margin: 0;
    }

    h6 {
      font-size: 0.8rem;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}

hr {
  background-color: $secondary-color-trans-2 !important;
  margin: 0 !important;
}

.clickable {
  cursor: pointer;
}

p.text {
  font-size: 0.8rem;
}

.text-small {
  font-size: 0.8rem;
  opacity: 0.8;
}

.verified-badge {
  width: 15px;
  height: 15px;
  padding: 3px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
}
