$primary-color: #007bff;
$primary-color-trans-1: rgba($primary-color, .1);
$primary-color-light: #eaf4ff;
$secondary-color: #6c757d;
$secondary-color-trans-1: rgba($secondary-color, .1);
$secondary-color-trans-2: rgba($secondary-color, .5);
$gray-800: #343a40;
$bg-light: #edf2f6;
$shadow-light: 0 0 10px $secondary-color-trans-1;